<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do list </title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body> 

    <div class="mb-5 bg-gray-400  text-left hover: ">
      <h1 class="border rounded-full  bg-blue-300 text-black hover:shadow text-center"> 
        Welcome to the ToDoList App 
      </h1>  
      <form method="POST"> 
        <input name="task" placeholder="Enter the Task Name"> 
        <button class="bg-blue-400 text-white px-4 py-2  border rounded-full hover:shadow-lg transition-duration-300 hover: text-blue-500 bg-green-500" > Save Task </button>
      </form>
    </div>
    
    
</body>
</html>